body {
font-family: "Roboto";
font-size: 14px;
line-height: 1.14;
color: #212121;
}

.headline {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
}

.heading-two {color: #ffffff;}

.heading {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}

.subject {
font-weight: 700;
line-height: 16px;
line-height: 1.42;
}
.text {
font-size: 16px;
line-height: 1.87;
color: #757575;
}

.nav
{list-style: none}

.nav-link, .cursor {color: #000000;}

.nav-link:hover, 
.nav-link:focus {color: #2196F3}


.cursor:hover, 
.cursor:focus {color: #ffffff;
    background-color: #2196F3;
}